body{
    font-family: roboto;
    background-color: #F5E9F7;
    margin: 0;
}
.navbar h4{
    display: inline;
    padding: 20px;
}
.navbar{
    text-align: right;
    background-color: #E0BCE7;
    padding: 10px;
}
.Home img{
    width: 50vh;
    border-radius: 150px;
}
.Home{
    display: flex;
    flex-flow: row;
    height: 95vh;
    justify-content: center;
    align-items: center;
}
.imptxt{
    color: #9C27B0;
}
.btn{
    background-color: #9C27B0;
    border: none;
    color: #F5E9F7;
    padding: 5px;
}
.aboutme{
    height: 100vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.aboutme img{
    height: 80vh;
}
.skills{
    height: 100vh;
}
.cardset{
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 70vh;
    margin-top: 10vh;

}
.card{
    background-color: #E0BCE7;
    border-radius: 10px;
    height: 55vh;
    margin-top: 10px;
}
.card img{
    width: 200px;
}
.project{
    height: 100vh;
}
.pcard{
     background-color: #E0BCE7;
    border-radius: 10px;
    height: 40vh;
    width: 40vh;
    padding: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    height: 27vh;
    background-color: #E0BCE7;
    align-items: center;
}
@media (max-width: 480px){
    .navbar{
        font-size: small;
        height: 2vh;
    }
    .navbar h4{
    padding: 10px;
    }
    .Home{
        display: flex;
        flex-direction: column;
        font-size: small;
        height: 480px;
    }
    .Home img{
        width: 150px;
        margin-top: 10px;
    }
    .aboutme{
        font-size: small;
        height: 500px;
    }
    .aboutme img{
        width: 150px;
        height: auto;
        margin-left: 10px;
    }
    .skills{
        font-size: small;
        height: 600px;
        padding: 10px;

    }
    .cardset{
        flex-direction: column;
        height: 500px;
        justify-content: center;
        align-items: center;
    }   
    .card{
        width: 120px;
        height: auto;

    }
    .skills h1{
    margin-bottom: 10px;
}
    .card img{
        width: 100px;
        height: auto;
        margin-left: 10px;
    }
    
    .project{
        display: none;
    }
    footer{
        display: none;
    }
}