body{
    font-family: roboto;
    background-color: #F5E9F7;
    margin: 0;
}
.navbar h4{
    display: inline;
    padding: 20px;
}
.navbar{
    text-align: right;
    background-color: #E0BCE7;
    padding: 10px;
}
.Home img{
    width: 50vh;
    border-radius: 150px;
}
.Home{
    display: flex;
    flex-flow: row;
    height: 95vh;
    justify-content: center;
    align-items: center;
}
.imptxt{
    color: #9C27B0;
}
.btn{
    background-color: #9C27B0;
    border: none;
    color: #F5E9F7;
    padding: 5px;
}
.aboutme{
    height: 100vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.aboutme img{
    height: 80vh;
}
.skills{
    height: 100vh;
}
.cardset{
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 70vh;
    margin-top: 10vh;

}
.card{
    background-color: #E0BCE7;
    border-radius: 10px;
    height: 55vh;
}
.project{
    height: 100vh;
}
.pcard{
     background-color: #E0BCE7;
    border-radius: 10px;
    height: 40vh;
    width: 40vh;
    padding: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    height: 27vh;
    background-color: #E0BCE7;
    align-items: center;
}
